<h2>Help + FAQ</h2>

<section>
<h4>Where can I find wedding info?</h4>
<p>There will be a web site soon.</p>
</section>

<section>
<h4>Will the bride and groom play the top songs?</h4>
<p>Mostly yes ... but have ultimate veto power.</p>
</section>

<section>
<h4>Can everyone see my playlists and votes?</h4>
<p>No. Your selections are anonymous. If you want everyone know, update your Facebook status.</p>
</section>

<section>
<h4>Is my login information private?</h4>
<p>Yes. We can&rsquo;t see your password. Nor will we sell, rent or do other dbag things with your email address.</p>
</section>