<%= image_tag("wedding-cake-md.svg", :class => "float-right", :alt => "wedding cake") %>
<h2 class="welcome">Welcome</h2>
<p>Help us create our wedding playlist. Here&rsquo;s how it works:</p>
<ul>
	<li>Start a Playlist</li>
	<li>Search and add songs</li>
	<li>Vote on everyone else's songs</li>
</ul>

<p>We will generate the wedding playlist based on top votes.</p>

<p><%= link_to "Get Started »", playlists_path, :class => "btn btn-primary" %></p>
