<h1>Welcome!</h1>
<p>Cupcake ipsum dolor sit amet candy canes brownie. Brownie gummi bears cotton candy. Sweet pastry donut. Pudding sweet roll chocolate bar gingerbread cheesecake. Soufflé applicake chupa chups cheesecake powder unerdwear.com sweet roll topping. Tart macaroon dragée sweet tootsie roll gummies chocolate gummies icing. Danish sugar plum jelly.</p>
<p><%= link_to "Get Started", playlists_path %></p>
