.row .row {margin-bottom: 20px;}

.row .yes img.icon-yes {visibility:visible;}
.row .yes img.icon-no {visibility:hidden;}

.row .no img.icon-yes {visibility:hidden;}
.row .no img.icon-no {visibility:visible;}

.row .undecided img.icon-yes {visibility:hidden;}
.row .undecided img.icon-no {visibility:hidden;}