.row .row {margin-bottom: 20px;}

.row .col-md-2 {text-align:center;}

.row a.txt-vote {color:#51656c; font-family: 'PopulaireRegular'; font-size: 30px;}

.row .yes img.icon-yes {opacity:100;}
.row .yes img.icon-no {opacity:0;}

.row .no img.icon-yes {opacity:0;}
.row .no img.icon-no {opacity:100;}

.row .undecided img.icon-yes {opacity:0;}
.row .undecided img.icon-no {opacity:0;}

.icon-container {width:100px; height:100px; background: url('icon-container.svg') no-repeat center center;}