<h3>Vote on Songs</h3>
<% @playlist_song.each do |playlist_song| %>
	<% curr_song = playlist_song.song %>
  <% curr_vote = Vote.find_by_song_id(curr_song.id) %>
	<p><%= curr_song.name %></p>
<% end %>